@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-5">
        <h3>Выберите файл для загрузки</h3>
        @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
        {
            <input type="file" name="uploadedFile" /><br>
            <input type="submit" value="Загрузить" />
        }
    </div>
</div>
